<form action="" class="ls-form row">

<%= form_for(@team, html: { class: "ls-form row" }) do |f| %>
<% if @team.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

  <ul>
    <% @team.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
  <div class="row">
    <div class="col-md-8">
      <label class="ls-label col-md-6">
        <span class="ls-label-text"><%= f.label :name, "Informe um nome para seu Time" %></span>
        <%= f.text_field :name %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <label class="ls-label col-md-6">
        <span class="ls-label-text"><%= f.label :user_admin, "Usuário admin" %></span>
        <%= f.text_field :user_admin %>
      </label>
    </div>
  </div>


</fieldset>

<div class="ls-box ls-md-space ls-ico-user-add ls-ico-bg">
<h1 class="ls-title ls-color-theme">Adicione usuários ao time</h1>
  <p></p>
  <label class="ls-label col-md-4 col-xs-12">
   <input type="text" name="nome" placeholder="Usuário ou email" class="ls-field" required>
 </label>
 <a href="#" class="ls-btn-primary ls-ico-user-add">Adicionar usuário</a>
 <p></p>

 <table class="ls-table">
  <thead>
    <tr>
      <th>Usuário</th>
      <th class="hidden-xs">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="" title="">teste</a></td>
      <td class="hidden-xs">teste@gmail.com</td>
    </tr>
    <tr>
      <td><a href="" title="">tetetetete</a></td>
      <td class="hidden-xs">teste@gmail.com</td>
    </tr>
  </tbody>
</table>
</div>

<div class="ls-actions-btn">
  <%= f.button  "Salvar", :type => "submit" , class: "ls-btn-primary"%>
  <%= f.submit "Limpar", :type => "reset",  class: "ls-btn-primary" %>
  <%= link_to 'Voltar', teams_path, class: "ls-btn-darker" %>
</div>
<% end %>
</form>