<%= flash_messages %>
<%= form_for(@team, html: { class: "ls-form row" }) do |f| %>
<% if @team.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

  <ul>
    <% @team.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset>
  <div class="row">
    <div class="col-md-8">
      <label class="ls-label col-md-6">
        <span class="ls-label-text"><%= f.label :name, "Informe um nome para seu Time" %></span>
        <%= f.text_field :name %>
      </label>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <label class="ls-label col-md-12">
        <span class="ls-label-text"><%= f.label :users, "Usuários" %></span>
        <%= select(:team, :user_id,
         options_from_collection_for_select(@users, :id, :email),
         {},
         multiple: true, class: 'select2 col-md-12'
         ) %>

       </label>

   </div>
 </div>

</fieldset>

<div class="ls-actions-btn">
  <%= f.submit  "Salvar", :type => "submit" , class: "ls-btn-primary"%>
  <%= f.submit "Limpar", :type => "reset",  class: "ls-btn-primary" %>
  <%= link_to 'Voltar', teams_path, class: "ls-btn-darker" %>
</div>
<% end %>
