<%= form_for(@user, html: { class: "ls-form row" }) do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-md-8">
        <label class="ls-label col-md-6">
        <span class="ls-label-text"><%= f.label :first_name, "Nome" %></span>
        <%= f.text_field :first_name %>
      </label>
     </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <label class="ls-label col-md-6">
        <span class="ls-label-text"><%= f.label :last_name, "Sobrenome" %></span>
        <%= f.text_field :last_name %>
      </label>
     </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <label class="ls-label col-md-8">
        <span class="ls-label-text"><%= f.label :email, "Email" %></span>
        <%= f.text_field :email %>

      </label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <label class="ls-label col-md-4">
        <span class="ls-label-text"><%= f.label :admin, "Admin" %></span>
               <%= f.check_box :admin, {}, true, false %>
        </label>
      </div>
    </div>
       <%= f.button  "Salvar", :type => "submit" , class: "ls-btn-primary"%>
       <%= f.submit "Limpar", :type => "reset",  class: "ls-btn-primary" %>
       <%= link_to 'Voltar', users_path, class: "ls-btn-darker" %>
    </div>
    </div>

 </fieldset>

<% end %>


