<h1 class="ls-title-intro ls-ico-user-add">Pessoa</h1>

<a><%= link_to 'Cadastrar Pessoa', new_user_path(@user) , class: "ls-btn-primary" %></a>

<div class="ls-box-filter">
  <%= form_for :search, url: search_users_path, html: { :class => "ls-form ls-form-inline", method: :get } do |f| %>
  <label class="ls-label col-md-4">
    <b class="ls-label-text">Buscar por:</b>
    <div class="ls-custom-select">

      <%= f.select(:type, {prompt: false}, class: "ls-select") do %>
      <% [['Pessoa', 'name'], ['Email', 'email']].each do |c| %>
      <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
      <% end %>

    </div>
  </label>

  <label class="ls-label col-md-4" role="search" id="text_order_search">
    <%= f.text_field :text, class: 'ls-field' %>
  </label>

  <label class="ls-label ">
    <%= submit_tag('Buscar', class: "ls-btn") %>
  </label>
  <%end%>
</div>

<table class="ls-table ls-table-striped">
  <thead>
    <tr>
      <th>Pessoa</th>
      <th class="hidden-xs">Email</th>
      <th class="hidden-xs">Telefone</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td class="hidden-xs"><%= user.email %></td>
      <td class="hidden-xs"><%= user.phone %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if @users %>
<div class="ls-pagination-filter">
  <%= paginate @users if @users %>

  <% if not @users.blank? %>
  <div class="ls-filter-view">
    <%= t 'helpers.show' %>
    <div class="ls-custom-select">
      <%= select_tag(:per_page_options, options_for_select(options_for_per_page, params[:per_page]))%>
    </div>
    <%= t 'helpers.per_page' %>
  </div>
  <% end %>
</div>
<% end %>

<%= content_for :javascript do %>
  $(document).ready(mood.paginate.init);
<% end %>