<h1 class="ls-title-intro ls-ico-user-add">Cadastro do Usuário</h1>
<div class="ls-box">
  <div class="row">
    <div class="col-md-12">
        <table class="ls-table ls-table-striped ls-no-hover ls-sm-space ls-no-margin-top">
          <tbody>
            <tr> <td> Nome: <label class="ls-title-6"><%= @user.name %></label> </td> </tr>
            <tr> <td> Email: <label class="ls-title-6"><%= @user.email %></label> </td> </tr>
            <tr> <td> Telefone: <label class="ls-title-6"><%= @user.phone %></label> </td> </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_user_path(@user) , class: "ls-btn-darker" %>
<%= link_to 'Voltar', users_path, class: "ls-btn-darker" %>
