<h1 class="ls-title-intro ls-ico-user-add">Usuários</h1>
<%= form_for(@user, html: { class: "ls-form row" }) do |f| %>
<div class="ls-box">
<div class="row">
  <div class="col-md-12">
    <div class="ls-box">
      <p><strong>Nome</strong></p>
      <p class="ls-break-text"><%= @user.first_name %></p>
      <hr>
      <p><strong>Sobrenome</strong></p>
      <p class="ls-break-text"><%= @user.last_name %></p>
      <hr>
      <p><strong>Email</strong></p>
      <p class="ls-break-text"><%= @user.email %></p>
      <hr>
      <p><strong>Admin</strong></p>
      <p class="ls-break-text"><%= @user.admin %></p>
    </div>
  </div>
</div>
</div>

<%= link_to 'Editar', edit_user_path(@user) , class: "ls-btn-darker" %>
<%= link_to 'Voltar', users_path, class: "ls-btn-darker" %>

<% end %>
