<h1 class="ls-title-intro ls-ico-user-add">Usuários</h1>
<div class="ls-box">
<div class="row">
  <div class="col-md-12">
    <div class="ls-box">
      <p><strong>Nome</strong></p>
      <p class="ls-break-text"><%= @user.name %></p>
      <hr>
      <p><strong>Email</strong></p>
      <p class="ls-break-text"><%= @user.email %></p>
      <hr>
      <p><strong>Telefone</strong></p>
      <p class="ls-break-text"><%= @user.phone %></p>
    </div>
  </div>
</div>
</div>

<%= link_to 'Editar', edit_user_path(@user) , class: "ls-btn-darker" %>
<%= link_to 'Voltar', users_path, class: "ls-btn-darker" %>
