<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "ls-form ls-login-form"}) do |f| %>

    <fieldset>

      <label class="ls-label">
        <b class="ls-label-text ls-hidden-accessible">Email</b>
        <%= f.email_field :email, :autofocus => true, :class => "ls-login-bg-user ls-field-lg", :placeholder => "Email" %>
      </label>

      <label class="ls-label">
        <b class="ls-label-text ls-hidden-accessible">Senha</b>
          <%= f.password_field :password, :class => "ls-login-bg-password ls-field-lg", :placeholder => "Senha" %>
      </label>

      <%= f.submit "Entrar", :class => "ls-btn-primary ls-btn-block ls-btn-lg" %>
      <%= render "devise/shared/links" %>

    </fieldset>

<% end %>