<!DOCTYPE html>
<html class="ls-theme-light-red">
  <head>
    <title> <%= SECRETS["site"]["title"] %> </title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="http://assets.locaweb.com.br/locastyle/3.8.1/bootstrap/css/bootstrap.css">
    <%= stylesheet_link_tag "application", SECRETS["locastyle"]["css"], :media => "screen" %>

    <%= stylesheet_link_tag "application", :media => "all"  %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <h1>Humoristic</h1>
    </header>
    <nav>
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Cadastrar-se", new_user_registration_path %>
        <%= link_to "Entrar", new_user_session_path %>
      <% end %>
    </nav>
    <section id="main">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <%= yield %>
    </section>
    <footer>
      <sub>Humoristic</sub>
    </footer>
</body>
</html>